.hero {
  display: flex;
}

.hero-textwrapper {
  width: 100%;
  margin-top: 3rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  h6 {
    @include font-family(base);
    @include font-weight(bold);
    color: color(typography, 3);
    margin-bottom: 20px;
  }

  h1 {
    @include font-family(heading);
    margin-bottom: 60px;
  }

  a {
    @include font-family(heading);
    @include font-weight(bold);
    padding: 12px 32px;
    text-decoration: none;
    color: color(typography, 1i);
    background-color: color(primary, 1);
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: color(primary, 2);
    }
  }

  h4,
  a {
    text-transform: uppercase;
  }
}

.hero-image {
  display: none;
  background-color: color(primary, 1);
  position: relative;
  width: 45%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

@include media(">medium") {
  .hero-image {
    display: block;
  }
  .hero-textwrapper {
    width: 55%;
    margin-top: 0;
    padding: 0;
  }
  .hero-text {
    padding-left: 2rem;
  }
}
@include media(">large") {
}
