header {
  @include font-family(base);
  height: 60px;
  color: color(typography, 1);
}

.navigation {
  @include font-size(8, mobile, true, true);
  height: 100%;
  margin: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.navigation--desktop {
  display: none;
}

.navigation-logo {
  @include font-size(6, desktop, true, true, true);
  @include font-weight(bold);
  text-decoration: none;

  img {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    vertical-align: middle;
  }
}

.navigation-item {
  padding: 8px 28px;
  border-radius: 25px;

  a {
    @include font-weight(bold);
    text-decoration: none;
    text-transform: uppercase;
  }
}

.navigation-item--highlight {
  background-color: color(primary, 1);
  transition: background-color 0.2s ease-in-out;

  a {
    color: color(typography, 1i);
  }
}

.navigation--mobile {
  padding: 0 1rem;

  svg {
    cursor: pointer;
  }

  .navigation-list {
    @include font-size(3, mobile, true, true);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: color(bg, 1);
    z-index: 99999;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s height ease-in-out, 0.3s padding ease-in-out;
  }
  .navigation-list--open {
    height: calc(100% - 60px);
    padding: 4rem 6rem 6rem 6rem;
  }
  .navigation-list--closed {
    height: 0;
    padding: 0;
  }
}

@include media(">medium") {
  header {
    height: 75px;
  }

  .navigation--mobile {
    display: none;
  }
  .navigation--desktop {
    @include font-size(8, desktop, true, true, false, -2);
    display: flex;
    max-width: 90%;
  }

  .navigation-list {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
  }

  .navigation-item {
    cursor: pointer;
    padding: 8px 22px;

    a {
      position: relative;
    }

    &:not(.navigation-item--highlight) {
      a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        background: color(primary, 1);
        transition: width 0.2s ease-in-out, color 0.2s ease-in-out;
      }
    }

    &:hover {
      a {
        color: color(typography, 2);

        &:before {
          width: 100%;
        }
      }
      &.navigation-item--highlight {
        background-color: color(primary, 2);
        a {
          color: color(typography, 1i);
        }
      }
    }

    &:not(:last-child) {
      margin-right: 0.2rem;
    }
  }
}

@include media(">large") {
  .navigation--desktop {
    @include font-size(8, desktop, true, true);
  }
  .navigation-item:not(:last-child) {
    margin-right: 0.8125rem;
  }
}
