main {
}

.header {
  display: flex;
  height: 100%;
  margin: auto;
}

.header-textwrapper {
  flex: 1 1 0px;
}

.header-text {
  margin: 23rem 0 23rem 6rem;

  h4 {
    color: $font-grey;
    font-weight: 700;
    font-size: 18px;
    font-family: $body-font;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 58px;
    font-family: $title-font;
    margin-bottom: 80px;
  }

  a {
    padding: 12px 32px;
    font-size: 18px;
    font-family: $title-font;
    font-weight: 700;
    color: $font-white;
    background-color: $accent-color;
    border-radius: 25px;
  }

  h4,
  a {
    text-transform: uppercase;
  }
}

.header-image {
  flex: 0.7 1 0px;
  background-color: $accent-color;
  width: 40%;
}
