.hero {
  height: 100%;
  display: flex;
}

.hero-textwrapper {
  width: 55%;
}

.hero-text {
  // margin: 23rem 0 23rem 6rem;

  h4 {
    color: $font-grey;
    font-weight: 700;
    font-size: 18px;
    font-family: $body-font;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 58px;
    font-family: $title-font;
    margin-bottom: 80px;
  }

  a {
    padding: 12px 32px;
    font-size: 18px;
    font-family: $title-font;
    font-weight: 700;
    text-decoration: none;
    color: $font-white;
    background-color: $accent-color;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $accent-color--dark;
    }
  }

  h4,
  a {
    text-transform: uppercase;
  }
}

.hero-image {
  background-color: $accent-color;
  position: relative;
  width: 45%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
