// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
  typography: (
    1: #000,
    2: #444,
    3: #969696,
    4: #dedede,
    1i: #fff,
  ),
  bg: (
    1: #ffffff,
    2: #f5f9fc,
    3: #dde7ef,
    4: #f5f2ef,
  ),
  primary: (
    1: #00be9c,
    2: #04af90,
  ),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
  // font-family(base)
    base: '"Open Sans", sans-serif',
  // font-family(heading)
    heading: '"Montserrat", sans-serif',
  // font-family(code)
    code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace',
  // font-family(pre)
    pre: '"Courier 10 Pitch", Courier, monospace'
);

$font__sizes: (
	alpha:   ( 52px, 62px, -0.1px ), // font-size, line-height, kerning (use '0' if don't want to output any kerning)
	beta:    ( 42px, 52px, -0.1px ),
	gamma:   ( 36px, 46px, -0.1px ),
	delta:   ( 24px, 34px, -0.1px ),
	epsilon: ( 20px, 30px, -0.1px ),
	zeta:    ( 18px, 27px, -0.1px ),
	eta:     ( 15px, 22px, 0px ),
	theta:   ( 14px, 20px, 0px )
);

$font__scale: (
  desktop: (
    // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
      // H1
      1: map-get($font__sizes, alpha),
    // H2
      2: map-get($font__sizes, beta),
    // H3
      3: map-get($font__sizes, gamma),
    // H4, H5, H6
      4: map-get($font__sizes, delta),
    // Body
      5: map-get($font__sizes, epsilon),
    // Text small
      6: map-get($font__sizes, zeta),
    // Text smaller, buttons
      7: map-get($font__sizes, eta),
    // Footer area
      8: map-get($font__sizes, theta),
  ),
  mobile: (
    // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
      // H1
      1: map-get($font__sizes, beta),
    // H2
      2: map-get($font__sizes, gamma),
    // H3
      3: map-get($font__sizes, delta),
    // H4, H5, H6
      4: map-get($font__sizes, epsilon),
    // Body
      5: map-get($font__sizes, epsilon),
    // Text small
      6: map-get($font__sizes, zeta),
    // Text smaller, buttons
      7: map-get($font__sizes, eta),
    // Footer area
      8: map-get($font__sizes, theta),
  ),
);

$font__weight: (
  // font__weight(regular)
    regular: 400,
  // font__weight(medium)
    medium: 500,
  // font__weight(semibold)
    semibold: 600,
  // font__weight(bold)
    bold: 700
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
  mobile: 16px,
  desktop: 24px,
);
$container__width: 1080px;
$container__width-sm: 800px;

$navigation-height: 75px;
