// IMPORT MONTSERRAT AND OPEN SANS FONTS
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

$body-font: "Open Sans";
$title-font: "Montserrat";

$font-black: #000;
$font-white: #fff;
$font-grey: #dedede;

$accent-color: #00be9c;
$accent-color--dark: #04af90;

html {
  letter-spacing: 0.6px;
}
